/* Custom styles */
body {
    background-color: #f8f9fa;
}

.card {
    border: none;
    border-radius: 10px;
}

.card-header {
    border-radius: 10px 10px 0 0 !important;
}

.invalid-feedback {
    display: none;
    color: #dc3545;
}

.was-validated .form-control:invalid ~ .invalid-feedback,
.was-validated .form-select:invalid ~ .invalid-feedback,
.form-control.is-invalid ~ .invalid-feedback,
.form-select.is-invalid ~ .invalid-feedback {
    display: block;
}

.form-control:invalid, .form-select:invalid {
    border-color: #dc3545;
}
 .form-container .form-control,
    .form-container .form-select,
    .form-container textarea.form-control {
      border: 1px solid #00000026 !important;
      border-radius: 7px !important;
      
    }